# FastAPI Backend Environment Variables

# VAPI Configuration (Server-side)
#VAPI_PRIVATE_API_KEY=your-vapi-private-key
VAPI_PHONE_NUMBER_ID=your-vapi-phone-number-id
VAPI_ASSISTANT_ID=your-vapi-assistant-id
VAPI_PRIVATE_API_KEY=df253068-44f2-4683-affd-fd6dbb44f24d
VAPI_PHONE_NUMBER_ID=25ba689c-1f14-4991-a093-76196783dd9d
VAPI_ASSISTANT_ID=5113fdc8-a44e-4b03-84c6-56d040a2f16d

# Server Configuration
BACKEND_PORT=8000
FRONTEND_URL=http://localhost:8080

# Development
DEBUG=True
